.font-default{
	font-family: sans-serif;
}

.justify{
	text-align: justify;
}

.hide{
	display: none;
}

.no-dec{
	text-decoration: none;
}

.header-bg{
	background-size: 100%;
	background-position: center;
}

.pic-w-600px{
	width: 600px;
	height: auto;
}

.pic-w-90{
	max-width: 90%;
	height: auto;
}
