.body{
	font-family: sans-serif;
}

.header{
	background-size: 100%;
	background-position: center;
}

.justify{
	text-align: justify;
}

.hide{
	display: none;
}

.no-dec{
	text-decoration: none;
}

.pic-w-600px{
	width: 600px;
	max-width: 100%;
	height: auto;
}

.pic-w-90{
	max-width: 90%;
	height: auto;
}

.popup-box{
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.9);
}

.popup-img{
	margin: auto;
	display: block;
	height: 75%;
	animation-name: zoom;
	animation-duration: 0.6s;
}

.popup-caption{
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
	animation-name: zoom;
	animation-duration: 0.6s;
}

.popup-close{
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.popup-close:hover,
.popup-close:focus{
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

@keyframes zoom{
	from {transform: scale(0)}
	to {transform: scale(1)}
}

@media only screen and (max-width: 768px){
	.popup-img{
		width: 80%;
		height: auto;
	}
}
